/* AboutStyles.css */

.about-container {
  background-image: url('../images/cricket-match-concept-with-stadium-background_30996-1593.avif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px; /* Adjust padding as needed */
  color: #ffffff; /* Set text color to white */
  font-family: Arial, sans-serif; /* Set font family */
}

.about-title {
  color: #ff0000; /* Set title color to red */
  font-size: 36px; /* Set title font size */
  font-weight: bold; /* Make title bold */
  margin-bottom: 20px;
  text-align: center; /* Add some space below the title */
}

.about-content {
  font-size: 18px; /* Set content font size */
  line-height: 1.6;
  color: green; /* Set line height */
}

.about-content strong {
  color: #f8a100; /* Set color for strong text */
  font-weight: bold; /* Make strong text bold */
}
